<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IoT 논물꼬 (Changwon, 1272)_Linchipin</title>
    <link rel="stylesheet" href="/css/home/toggle.css">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Pacifico&display=swap" rel="stylesheet">
    <script>
        window.addEventListener('load', function () {
            const phonenum = 37441272; // 특정 전화번호 지정
            // 서버로부터 오는 이벤트를 위한 EventSource 객체를 생성합니다.
            const eventSource = new EventSource(`/events?phonenum=${phonenum}`);

            eventSource.onmessage = function(e) {
                // 서버로부터 메시지 이벤트가 오면 이를 처리합니다.
                const data = JSON.parse(e.data);
                // 데이터를 웹 페이지에 표시합니다.
                document.getElementById('data').innerText = data;
            };

            eventSource.onerror = function(e) {
                // 에러 발생 시 처리
                console.error('EventSource failed:', e);
                eventSource.close();
            };

            // 페이지를 벗어나거나 닫을 때 EventSource 연결을 닫습니다.
            window.onbeforeunload = function() {
                eventSource.close();
            };
        });

        function setupToggleSwitchListener() {
            var toggleSwitch = document.querySelector('[data-phonenum="37441272"]'); // 특정 전화번호 필터링
            var countdownTimer = document.getElementById('countdown');

            toggleSwitch.addEventListener('change', function() {
                sendToggleStateToServer(this.checked, () => {
                    toggleSwitch.disabled = true;
                    countdownTimer.style.display = 'inline'; // 카운트다운을 보이게 합니다.
                    startCountdown(35); // 10초 카운트다운 시작
                });
            });

            function startCountdown(duration) {
                var timer = duration, minutes, seconds;
                var countdownInterval = setInterval(function () {
                    minutes = parseInt(timer / 60, 10);
                    seconds = parseInt(timer % 60, 10);

                    minutes = minutes < 10 ? "0" + minutes : minutes;
                    seconds = seconds < 10 ? "0" + seconds : seconds;

                    countdownTimer.textContent = minutes + ":" + seconds;

                    if (--timer < 0) {
                        timer = duration;
                        clearInterval(countdownInterval);
                        toggleSwitch.disabled = false;
                        countdownTimer.style.display = 'none'; // 카운트다운을 숨깁니다.
                    }
                }, 1000);
            }
        }

        function sendToggleStateToServer(state, callback) {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/update_toggle_state', true);
            xhr.setRequestHeader('Content-Type', 'application/json');

            xhr.onload = function() {
                if (xhr.status === 200) {
                    console.log('Toggle state updated successfully');
                } else {
                    console.error('Error updating toggle state');
                }
                callback(); // 서버 응답 후 콜백 함수 실행
            };

            xhr.onerror = function() {
                console.error('Network error');
                callback(); // 네트워크 오류 시 콜백 함수 실행
            };

            xhr.send(JSON.stringify({ toggleState: state, phonenum: 37441272 }));
        }

        window.addEventListener('load', setupToggleSwitchListener);

        document.addEventListener("DOMContentLoaded", function() {
            const toggleDisplay = document.getElementById('toggleDisplay'); // Get the display element
            const toggleSwitch = document.querySelector('[data-phonenum="37441272"]'); // 특정 전화번호 필터링

            // Function to fetch toggle state from server
            function fetchToggleState() {
                fetch(`/toggle_state?phonenum=37441272`)
                    .then(response => response.json())
                    .then(data => {
                        const toggleState = data.toggleState;
                        toggleDisplay.textContent = toggleState;  // Update display based on state
                        toggleSwitch.checked = toggleState === 'ON'; // Update switch based on state
                    })
                    .catch(error => console.error('Error fetching toggle state:', error));
            }

            // Fetch toggle state immediately when the page loads
            fetchToggleState();

            // Set an interval to fetch toggle state every 5 seconds
            setInterval(fetchToggleState, 5000);
        });

        // 사용자 활동 감지 및 페이지 새로고침 기능 추가
        let activityTimeout;
        function resetActivityTimeout() {
            clearTimeout(activityTimeout);
            activityTimeout = setTimeout(function() {
                location.reload(); // 일정 시간 동안 활동이 없으면 페이지를 새로고침
            }, 2 * 60 * 1000); // 10분 (600000밀리초) 동안 활동이 없으면 새로고침
        }

        document.addEventListener('mousemove', resetActivityTimeout);
        document.addEventListener('keydown', resetActivityTimeout);
        document.addEventListener('click', resetActivityTimeout);

        window.onload = resetActivityTimeout;

        // 터치 이벤트 처리 추가
        document.addEventListener('DOMContentLoaded', function() {
            var cards = document.querySelectorAll('.card');

            cards.forEach(function(card) {
                card.addEventListener('touchstart', function() {
                    removeTouchClass();
                    card.classList.add('touch');
                });
                card.addEventListener('touchend', function() {
                    setTimeout(function() {
                        card.classList.remove('touch');
                    }, 200); // 200ms 후 touch 클래스 제거
                });
            });

            function removeTouchClass() {
                cards.forEach(function(card) {
                    card.classList.remove('touch');
                });
            }
        });

    </script>
</head>
<body>
    <div class="card-container">
        <div class="card">
            <div class="card-header">
                <a href="#" class="triangle-btn"></a> <!-- 삼각형 모양의 버튼 추가 -->
                <span class="bold-text">KGJ33391272</span>  |  매우먼논  |  아람1
            </div>
            <h2 class="sensor-title">
                <div class="water-level-icon">
                    <div class="water"></div>
                </div>
                <span id="data">0.0</span>cm | 5.0cm
                <div id="data-container"></div>
            </h2>
            <div class="mode-selection">
                <span class="operation-mode">모드:</span>
                <select name="mode" id="mode">
                    <option value="manual">수동</option>
                    <option value="auto">자동</option>
                    <option value="scheduler">스케줄러</option>
                </select>
                <label class="switch">
                    <input type="checkbox" id="toggle-switch" data-phonenum="37441272"> <!-- 전화번호 필터링을 위한 data-phonenum 추가 -->
                    <span class="slider round">
                        <span class="on">물꼬 열림</span> <!-- 여기에 열림 텍스트 추가 -->
                        <span class="off">물꼬 닫힘</span> <!-- 여기에 닫힘 텍스트 추가 -->
                    </span>
                    <span id="countdown" style="display: none;">00:35</span>
                    <div id="toggleDisplay" style="position: absolute; top: 35px; left: 92px; font-size: 8px;">
                        <!-- Toggle state will be displayed here -->
                    </div>
                </label>
            </div>
            <div class="card-end">
                <span class="additional-info"> 6월 10일 이앙   |    아람    |    예상 출수기(8월 19일) + 3day </span>
            </div>

        </div>
        <div class="card">
            <div class="card-header">
                <a href="#" class="triangle-btn"></a> <!-- 삼각형 모양의 버튼 추가 -->
                <span class="bold-text">KGJ33391890</span>  |  원산마을  |  조원늦게1
            </div>
            <h2 class="sensor-title">
              <div class="water-level-icon">
                <div class="water"></div>
              </div>
              <span class="measurement">2.3cm | 7.0cm</span>
            </h2>
            <div class="mode-selection">
                <span class="operation-mode">모드:</span>
                <select name="mode" id="mode">
                  <option value="manual">수동</option>
                  <option value="auto" selected>자동</option>
                  <option value="scheduler">스케줄러</option>
                </select>
                <label class="switch">
                    <input type="checkbox" id="toggle-switch">
                    <span class="slider round">
                      <span class="on">물꼬 열림</span> <!-- 여기에 열림 텍스트 추가 -->
                      <span class="off">물꼬 닫힘</span> <!-- 여기에 닫힘 텍스트 추가 -->
                    </span>
                </label>

            </div>
            <div class="card-end">
                <span class="additional-info"> 6월 20일 이앙   |    조원    |    예상 출수기(8월 11일) </span> 
            </div>

        </div>
        <div class="card">
            <div class="card-header">
                <a href="#" class="triangle-btn"></a> <!-- 삼각형 모양의 버튼 추가 -->
                <span class="bold-text">KGJ33391820</span>  |  문대마을  |  아람2
            </div>
            <h2 class="sensor-title">
              <div class="water-level-icon">
                <div class="water"></div>
              </div>
              <span class="measurement">3.4cm | 7.0cm</span>
            </h2>
            <div class="mode-selection">
                <span class="operation-mode">모드:</span>
                <select name="mode" id="mode">
                  <option value="manual">수동</option>
                  <option value="auto">자동</option>
                  <option value="scheduler" selected>스케줄러</option>
                </select>
                <label class="switch">
                    <input type="checkbox" id="toggle-switch">
                    <span class="slider round">
                      <span class="on">물꼬 열림</span> <!-- 여기에 열림 텍스트 추가 -->
                      <span class="off">물꼬 닫힘</span> <!-- 여기에 닫힘 텍스트 추가 -->
                    </span>
                </label>

            </div>
            <div class="card-end">
                <span class="additional-info"> 6월 15일 이앙   |    아람    |    예상 출수기(8월 20일) + 2day </span> 
            </div>

        </div>
        <div class="card">
            <div class="card-header">
                <a href="#" class="triangle-btn"></a> <!-- 삼각형 모양의 버튼 추가 -->
                <span class="bold-text">KGJ33391867</span>  |  매우먼논  |  아람3
            </div>
            <h2 class="sensor-title">
              <div class="water-level-icon">
                <div class="water"></div>
              </div>
              <span class="measurement">3.0cm | 5.0cm</span>
            </h2>
            <div class="mode-selection">
                <span class="operation-mode">모드:</span>
                <select name="mode" id="mode">
                  <option value="manual">수동</option>
                  <option value="auto">자동</option>
                  <option value="scheduler" selected>스케줄러</option>
                </select>
                <label class="switch">
                    <input type="checkbox" id="toggle-switch">
                    <span class="slider round">
                      <span class="on">물꼬 열림</span> <!-- 여기에 열림 텍스트 추가 -->
                      <span class="off">물꼬 닫힘</span> <!-- 여기에 닫힘 텍스트 추가 -->
                    </span>
                </label>

            </div>
            <div class="card-end">
                <span class="additional-info"> 6월 15일 이앙   |    아람    |    예상 출수기(8월 20일) + 2day </span> 
            </div>

        </div>
        <div class="card">
            <div class="card-header">
                <a href="#" class="triangle-btn"></a> <!-- 삼각형 모양의 버튼 추가 -->
                <span class="bold-text">KGJ33391867</span>  |  중촌마을  |  아람4
            </div>
            <h2 class="sensor-title">
              <div class="water-level-icon">
                <div class="water"></div>
              </div>
              <span class="measurement">3.1cm | 5.2cm</span>
            </h2>
            <div class="mode-selection">
                <span class="operation-mode">모드:</span>
                <select name="mode" id="mode">
                  <option value="manual">수동</option>
                  <option value="auto"selected>자동</option>
                  <option value="scheduler">스케줄러</option>
                </select>
                <label class="switch">
                    <input type="checkbox" id="toggle-switch">
                    <span class="slider round">
                      <span class="on">물꼬 열림</span> <!-- 여기에 열림 텍스트 추가 -->
                      <span class="off">물꼬 닫힘</span> <!-- 여기에 닫힘 텍스트 추가 -->
                    </span>
                </label>

            </div>
            <div class="card-end">
                <span class="additional-info"> 6월 15일 이앙   |    아람    |    예상 출수기(8월 20일) + 2day </span> 
            </div>

        </div>
        <div class="card">
            <div class="card-header">
                <a href="#" class="triangle-btn"></a> <!-- 삼각형 모양의 버튼 추가 -->
                <span class="bold-text">KGJ33391867</span>  |  중촌마을  |  아람5
            </div>
            <h2 class="sensor-title">
              <div class="water-level-icon">
                <div class="water"></div>
              </div>
              <span class="measurement">3.0cm | 5.0cm</span>
            </h2>
            <div class="mode-selection">
                <span class="operation-mode">모드:</span>
                <select name="mode" id="mode">
                  <option value="manual">수동</option>
                  <option value="auto"selected>자동</option>
                  <option value="scheduler">스케줄러</option>
                </select>
                <label class="switch">
                    <input type="checkbox" id="toggle-switch">
                    <span class="slider round">
                      <span class="on">물꼬 열림</span> <!-- 여기에 열림 텍스트 추가 -->
                      <span class="off">물꼬 닫힘</span> <!-- 여기에 닫힘 텍스트 추가 -->
                    </span>
                </label>

            </div>
            <div class="card-end">
                <span class="additional-info"> 6월 14일 이앙   |    아람    |    예상 출수기(8월 20일) + 2day </span> 
            </div>

        </div>
        <div class="card">
            <div class="card-header">
                <a href="#" class="triangle-btn"></a> <!-- 삼각형 모양의 버튼 추가 -->
                <span class="bold-text">KGJ33391867</span>  |  매우먼논  |  아람6
            </div>
            <h2 class="sensor-title">
              <div class="water-level-icon">
                <div class="water"></div>
              </div>
              <span class="measurement">2.4cm | 7.0cm</span>
            </h2>
            <div class="mode-selection">
                <span class="operation-mode">모드:</span>
                <select name="mode" id="mode">
                  <option value="manual">수동</option>
                  <option value="auto">자동</option>
                  <option value="scheduler"selected>스케줄러</option>
                </select>
                <label class="switch">
                    <input type="checkbox" id="toggle-switch">
                    <span class="slider round">
                      <span class="on">물꼬 열림</span> <!-- 여기에 열림 텍스트 추가 -->
                      <span class="off">물꼬 닫힘</span> <!-- 여기에 닫힘 텍스트 추가 -->
                    </span>
                </label>

            </div>
            <div class="card-end">
                <span class="additional-info"> 6월 14일 이앙   |    아람    |    예상 출수기(8월 20일) + 2day </span> 
            </div>

        </div>
        <div class="card">
            <div class="card-header">
                <a href="#" class="triangle-btn"></a> <!-- 삼각형 모양의 버튼 추가 -->
                <span class="bold-text">KGJ33391867</span>  |  중촌마을  |  아람7
            </div>
            <h2 class="sensor-title">
              <div class="water-level-icon">
                <div class="water"></div>
              </div>
              <span class="measurement">4.2cm | 6.0cm</span>
            </h2>
            <div class="mode-selection">
                <span class="operation-mode">모드:</span>
                <select name="mode" id="mode">
                  <option value="manual">수동</option>
                  <option value="auto">자동</option>
                  <option value="scheduler">스케줄러</option>
                </select>
                <label class="switch">
                    <input type="checkbox" id="toggle-switch">
                    <span class="slider round">
                      <span class="on">물꼬 열림</span> <!-- 여기에 열림 텍스트 추가 -->
                      <span class="off">물꼬 닫힘</span> <!-- 여기에 닫힘 텍스트 추가 -->
                    </span>
                </label>

            </div>
            <div class="card-end">
                <span class="additional-info"> 6월 15일 이앙   |    아람    |    예상 출수기(8월 20일) + 2day </span> 
            </div>

        </div>
        <div class="card">
            <div class="card-header">
                <a href="#" class="triangle-btn"></a> <!-- 삼각형 모양의 버튼 추가 -->
                <span class="bold-text">KGJ33391867</span>  |  중촌마을  |  아람8
            </div>
            <h2 class="sensor-title">
              <div class="water-level-icon">
                <div class="water"></div>
              </div>
              <span class="measurement">2.2cm | 4.0cm</span>
            </h2>
            <div class="mode-selection">
                <span class="operation-mode">모드:</span>
                <select name="mode" id="mode">
                  <option value="manual">수동</option>
                  <option value="auto">자동</option>
                  <option value="scheduler">스케줄러</option>
                </select>
                <label class="switch">
                    <input type="checkbox" id="toggle-switch">
                    <span class="slider round">
                      <span class="on">물꼬 열림</span> <!-- 여기에 열림 텍스트 추가 -->
                      <span class="off">물꼬 닫힘</span> <!-- 여기에 닫힘 텍스트 추가 -->
                    </span>
                </label>

            </div>
            <div class="card-end">
                <span class="additional-info"> 6월 15일 이앙   |    아람    |    예상 출수기(8월 20일) + 2day </span> 
            </div>

        </div>
        
    </div>
    </body>
</html>
