<!DOCTYPE html>
<html>
<head>
  <title>실시간 데이터 표시</title>
</head>
<body>
  <h1>실시간 데이터:</h1>
  <div id="data-container"></div>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io(); // 서버와 소켓 연결

    // "data" 이벤트를 받아서 데이터를 표시
    socket.on("data", (data) => {
      document.getElementById("data-container").innerHTML = data;
    });
  </script>
</body>
</html>




